/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
.vscode/settings.json

/.tauri
**/src-tauri/gen/schemas
target
node_modules/
.cargo
.direnv
*.webhapp
*.happ
*.dna
dist/
result*
keystore.properties
